@using Yogging.Models.ViewModels
@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="body-admin">
    <h2>Users</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>

@foreach (var item in Model)
{
    <div class="body-admin">
        <div>
            <h3>
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            </h3>
            <p>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </p>
            <p>
                User is @Html.DisplayFor(modelItem => item.IsInactive) | 
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </p>
        </div>

        @if (item.Stories.Any())
        {
            <div>
                <p>Assigned stories:</p>

                @Html.Partial("_UserStoriesList", item.Stories)
            </div>
        }
        else
        {
            <p>
                User has no assigned stories.
            </p>
        }
    </div>
}