<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Head")
</head>
<body>

    @if (ViewBag.IsHome != null && ViewBag.IsHome == true)
    {
        @RenderBody()
    }
    else
    {
        @Html.Partial("_Header")
        <div class="container body-content">
            @RenderBody()
            <hr />
            @Html.Partial("_Footer")
        </div>
    }

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>