<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Head")
</head>
<body>
    @Html.Partial("_Header")
    <div class="container body-content">
        @RenderBody()
        <hr />
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>