@using Yogging.Extensions
@model IEnumerable<Yogging.ViewModels.StoryViewModel>

@if (Model.Any())
{
    <div id="story-data__table">
        @foreach (var story in Model)
        {
            <div class="story__container">
                <div class="story__headline">
                    <div>
                        <div class="story__status @story.Status.ToString().ToLower()">
                            @story.Status.GetDisplayName()
                        </div>
                        <div class="story__title">
                            <a class="story-details__link--@story.Id" href="@Url.Action("PartialDetails", "Stories", new { id = story.Id })">
                                @story.Name
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="story__tag">
                            <a style="background-color:@story.TagColour;"
                               class="story__tag-link"
                               href="@Url.Action("Details", "Tags", new { id = story.TagId })">
                                @story.TagName
                            </a>
                        </div>
                        <div class="story__points">
                            @Html.DisplayFor(modelItem => story.Points)
                        </div>
                        <div class="story__priority">
                            <span class="icon-priority icon-priority--@story.Priority" title="@story.Priority"></span>
                        </div>
                        <div class="story__type">
                            <span class="icon-type icon-type--@story.Type" title="@story.Type"></span>
                        </div>
                        <div class="story__quick-links">
                            <a class="story__edit--link" href="@Url.Action("Edit", "Stories", new { id = story.Id })">Edit</a> |
                            <a href="@Url.Action("Delete", "Stories", new { id = story.Id })">Delete</a>
                        </div>
                    </div>
                </div>
                <div id="story-details--@story.Id" class="story-details__container"></div>
            </div>
            <script>
                $(function () {
                    var detailsPartial = $('#story-details--@story.Id');

                    $('.story-details__link--@story.Id').click(function (event) {
                        event.preventDefault();
                        var url = $(this).attr('href');

                        $.ajax({
                            url: url,
                            type: 'get',
                            success: function (data) {
                                detailsPartial.html(data);
                                $('#story-details__close').click(function () {
                                    detailsPartial.html(null);
                                });
                            }
                        });
                    });
                });
            </script>
        }
    </div>

    <div class="modal fade" id="story-edit__modal" tabindex="-1" role="dialog" aria-labelledby="story-edit__modal" aria-hidden="true" data-backdrop="static">
        <div id="story-edit__container">
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
        $('#story-data__table').on("click", ".story__edit--link", function (event) {
            event.preventDefault();
            var url = $(this).attr("href");
            $.get(url, function (data) {
                $('#story-edit__container').html(data);
                $('#story-edit__modal').modal('show');
            });
        });
    });

    function UpdateStorySuccess(data) {
        if (data != "success") {
            $('#story-edit__container').html(data);
            return;
        }

        $('#story-edit__modal').modal('hide');
        $('#story-edit__container').html("");
        location.reload();
    };
</script>