@using Yogging.Models.ViewModels
@using Yogging.Services.Extensions
@model IEnumerable<StoryViewModel>

@if (Model.Any())
{
    <table class="table" id="story-data-table">
        @foreach (var story in Model)
        {
        <tr>
            <td>
                @story.Status.GetDisplayName()
            </td>
            <td>
                @Html.DisplayFor(modelItem => story.Id)
            </td>
            <td>
                <a href="@Url.Action("Details", "Stories", new { id = story.Id })">
                    @story.Name
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Sprints", new { id = story.SprintId })">
                    @story.SprintName
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Tags", new { id = story.TagId })">
                    @story.TagName
                </a>
            </td>
            @*<td>
                <a href="@Url.Action("Details", "Users", new { id = story.UserId })">
                    @story.UserName
                </a>
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => story.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => story.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => story.Type)
            </td>
            <td>
                <a class="editStory" href="@Url.Action("Edit", "Stories", new { id = story.Id })">Edit</a> |
                <a href="@Url.Action("Delete", "Stories", new { id = story.Id })">Delete</a>
            </td>
        </tr>
        }
    </table>

    <div class="modal fade" id="editStoryModal" tabindex="-1" role="dialog" aria-labelledby="EditStoryModal" aria-hidden="true" data-backdrop="static">
        <div id="editStoryContainer">
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
        $('#story-data-table').on("click", ".editStory", function (event) {
            event.preventDefault();
            var url = $(this).attr("href");
            $.get(url, function (data) {
                $('#editStoryContainer').html(data);
                $('#editStoryModal').modal('show');
            });
        });
    });

    function UpdateStorySuccess(data) {
        if (data != "success") {
            $('#editStoryContainer').html(data);
            return;
        }

        $('#editStoryModal').modal('hide');
        $('#editStoryContainer').html("");
        viewModel.refresh();
    }
</script>