@using Yogging.Models.ViewModels
@model IEnumerable<SprintViewModel>

@{
    var isClosed = Yogging.Models.Enums.SprintStatus.Closed;
}

@foreach (var item in Model)
{
    <div>
        <h3>
            @Html.DisplayFor(modelItem => item.Name)
        </h3>
        <span>
            @item.Stories.Count() Issues
        </span>
    </div>

    <div>
        <div>
            @Html.DisplayFor(modelItem => item.Status)
        </div>
        <div>
            @item.StartDate.ToString("dd/MM/yyyy")
        </div>
        <div>
            @item.EndDate.ToString("dd/MM/yyyy")
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.SprintPointTotal)
        </div>
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
    </div>

    @Html.Partial("_SprintStoriesList", item.Stories)

    if (item.Status != isClosed)
    {
        <p>
            <a href="@Url.Action("Create", "Stories")">Create new story</a>
        </p>
    }
}