@using Yogging.Models.ViewModels
@model IEnumerable<SpotifyPlaylistViewModel>

@{
    ViewBag.Title = "music";
}

<h1>
    my playlists
</h1>

<p>
    Hello. Please see below for my playlists from Spotify. x
</p>

<div class="playlists">
    @foreach (var playlist in Model)
    {
        string style = "background-image: url('" + playlist.MainImage + "')";

        <div class="playlist">
            <div class="playlist__heading" style="@style">
                <a class="playlist__media" href="@playlist.Url" target="_blank">
                    @playlist.Name
                </a>
                <a class="playlist__content-link" href="@playlist.Url" target="_blank">
                    <div class="playlist__content">
                        <h2 class="playlist__name">
                            @playlist.Name
                        </h2>
                    </div>
                </a>

                @* TODO: need to get scss working *@
                @*<a class="block-link__overlay" href="@playlist.Url" target="_blank">
                        @playlist.Name
                    </a>*@
            </div>
            <div class="playlist__info">
                Total tracks: @playlist.TotalTracks
            </div>

            @foreach (var track in playlist.Tracks.Take(20))
            {
                <div class="track">
                    <div class="track__album">
                        <a href="@track.AlbumUrl" target="_blank">
                            <img class="track__album-image" src="@track.AlbumImage" alt="@track.AlbumName" />
                        </a>
                    </div>
                    <div class="track__artist">
                        <a href="@track.ArtistUrl" target="_blank">
                            @track.ArtistName
                        </a>
                    </div>
                    <div class="track__track">
                        <a href="@track.TrackUrl" target="_blank">
                            @track.TrackName
                        </a>
                    </div>
                </div>
            }

            <div class="playlist__more">
                <a class="btn playlist__button" href="@playlist.Url" target="_blank">
                    More songs
                </a>
            </div>

        </div>
    }
</div>