@using Yogging.Models.ViewModels
@model IEnumerable<SpotifyPlaylistViewModel>

@{
    ViewBag.Title = "music";
}

@foreach (var playlist in Model)
{
    <p>
        <a href="@playlist.Url" target="_blank">
            @playlist.Name
        </a>
    </p>
    <p>
        <img src="@playlist.MainImage" />
    </p>
    <p>
        Total tracks: @playlist.TotalTracks
    </p>

    foreach (var track in playlist.Tracks.Take(20))
    {
        <p>
            <a href="@track.TrackUrl" target="_blank">
                @track.TrackName
            </a>
        </p>

        <p>
            <a href="@track.ArtistUrl" target="_blank">
                @track.ArtistName
            </a>
        </p>

        <p>
            <a href="@track.AlbumUrl" target="_blank">
                <img src="@track.AlbumImage" /><br />
                @track.AlbumName
            </a>
        </p>
    }
}