@model Yogging.ViewModels.TagViewModel

@{
    ViewBag.Title = Model.Name + " details";
}

<div class="body-admin">
    <h2>Tag details</h2>

    <div class="margin-bottom--10" style="background-color:@{@Model.Colour};">
        <div>
            <strong>Name:</strong> @Html.DisplayFor(model => model.Name)
        </div>
        <div>
            <strong>Colour:</strong> @Html.DisplayFor(model => model.Colour)
        </div>
    </div>

    <div class="margin-bottom--10">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </div>

    @Html.Partial("_TagStoriesList", Model.Stories)
</div>