@model IEnumerable<Yogging.ViewModels.TagViewModel>

@{
    ViewBag.Title = "Tags";
}

<div class="body-admin">
    <h2>Tags</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>

@foreach (var item in Model)
{
    <div class="body-admin">
        <div class="tag__title" style="background-color:@item.Colour;">
            <h3>
                @Html.DisplayFor(modelItem => item.Name)
            </h3>
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>
        </div>

        @if (item.Stories.Any())
        {
            <div>
                <p>Tagged stories:</p>

                @Html.Partial("_TagStoriesList", item.Stories)
            </div>
        }
        else
        {
            <div>
                <p>No stories found for this tag.</p>
            </div>
        }
    </div>
}