@using Yogging.Models.ViewModels
@model IEnumerable<BlogPostViewModel>

@{
    ViewBag.Title = "blog";
}

<div class="blog">
    @foreach (var post in Model)
    {
        string imageUrl = !string.IsNullOrEmpty(post.PostMainImage) ? post.PostMainImage : "https://placekitten.com/300/200";
        string style = "background-image: url('" + imageUrl + "')";

        <div class="blog__item">
            <div class="blog__container" style="@style">
                <a class="blog__media" href="@post.PostUrl" target="_blank">
                    @post.PostTitle
                    @*<img class="blog__image" src="@imageUrl" alt="@post.PostTitle" />*@
                </a>

                <div class="blog__content">
                    <a class="blog__content-link" href="@post.PostUrl" target="_blank">
                        <span class="blog__post-date">
                            @post.PublishedDate
                        </span>
                        <h2 class="blog__post-title">
                            @post.PostTitle
                        </h2>
                    </a>
                </div>

                @* need to get scss working *@
                @*<a class="block-link__overlay" href="@post.PostUrl" target="_blank">
                    @post.PostTitle
                </a>*@
            </div>
        </div>
    }
</div>

<div>
    <a href="https://weekendpaints.blogspot.com/" target="_blank">
        more posts
    </a>
</div>